/* body will have dark text and a gray background */
body {
	width: 100%;
	color: #121212;
	background-color: #E0E0E0;
	margin: 0px 0px 0px 0px;
}

#custNav > ul {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #E67800;
	content: " ";
}

#custNav > ul > li {
	color: #FFFFFF;
	display: inline;
	font-size: x-large;
	margin-right: 12px;
}

#custNav > ul > li > a {
	font-size: large;
	text-decoration: none;
	color: #EEEEEE;
}

#custNav > ul > li > a:hover {
	color: #FFFFFF;
}

#container {
	margin-left: 5%;
	margin-right: 5%;
}

#chatUL {
	color: #000000;
}

#chatUL > li {
	display: block;
	list-style: none;
}

#chatTextArea {
	resize: none;
	width: 250px;
	height: 50px;
}

#submitChat {
	width: 255px;
	height: 30px;
}

#chat {
	position: absolute;
	bottom: 0;
}

.orange {
	/* Taken from http://www.colorzilla.com/gradient-editor/ */
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
 	border-style: none;
	color: #FFFFFF;
	font-weight: bold;
}

